;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[binaryage/devtools "1.0.0"]
  [reagent "0.10.0"]
  [reagent-utils "0.3.3"]
  [cljs-ajax "0.8.0"]
  [camel-snake-kebab "0.4.1"]]

 :nrepl
 {:port 3333}

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"
        :modules {:main {:entries [events.core]}}
        :devtools {:http-root "public"
                   :http-port 3000}}
  :test {:target :browser-test
         :test-dir "public/js/test"
         :devtools {:http-port 3210
                    :http-root "public/js/test"}}}}
